<%- include('partials/header_layout') %>
    <script>window.location.href = '/benchmarks';</script>
    <div class="flex justify-center items-center h-screen">
        <p>Redirecting to benchmarks...</p>
    </div>
<%- include('partials/footer_layout') %>